.nav
  @extend .bar
  width: 80% 
  height: 30px
  text-align: center
  background: $navBackground

#nav-bar
  background: $navBackground
  +border-radius(30px)
  margin: $baseZero
  border: $baseZero
  
#title
  text-decoration: none
  color: $title
  font-size: 20px 
  font-family: $titleFont
  letter-spacing: -1px
  margin: $baseZero
  padding: $baseZero
