.nav
  width: 80% 
  height: 30px
  font-family: $navFont
  font-size: $navFontSize
  font-weight: $navFontWeight
  color: $navText
  text-align: center
  background: $navBackground
  line-height: 2.20em

#nav-bar
  background: $navBackground
  +border-radius(28px)
  margin: 0px
  border: 0px
  
#title
  color: $title
  h1
    font-size: 44px 
    font-family: $titleFont
    letter-spacing: -1px
    margin: $baseMargin 
    padding: 0px
