/*
 *  Variables
 *
 *  All the font variables used */

// fonts
$postFont: 'Sofia Pro', sans-serif
$navFont: Verdana, Geneva, Tahoma, sans-serif
$menuFont: $navFont
$navFontSize: 0.90em
$menuFontSize: 0.90em


// colours
$bodyBackground: #888888
$bodyText: #444444
$navText: #FFFFFF
$navBackground: #7ca2a2
$menuText: $navText
$menuBackground: $navBackground 
$link: #888888
$postBackground: #eeeeee

// positioning
$baseMargin: 30px
$basePosition: relative
$contentWidth: 750px
$contentMargin: auto
$commonWidth: auto

/*
 *  Mixins
 *
 *  All the functions */

// add curves on the 
=border-radius($rad)
  -webkit-border-radius: $rad
  -moz-border-radius: $rad
  -ms-border-radius: $rad
  border-radius: $rad
