/*
 *  Variables
 *
 *  All the font variables used */

// fonts
$postFont: 'Sofia Pro', sans-serif
$navFont: Verdana, Geneva, Tahoma, sans-serif
$menuFont: $navFont
$navFontSize: 17px 
$menuFontSize: $navFontSize
$navFontWeight: bold
$menuFontWeight: $navFontWeight
$titleFont: 'Arquitecta', sans-serif

// colours
$bodyBackground: #F5F6F9
$bodyText: #444444
$navText: #FFFFFF
$navBackground: #93B7B7 
$menuText: $navText
$menuBackground: $navBackground 
$link: #888888
$postBackground: #eeeeee
$title: $postBackground

// positioning
$baseMargin: 15px 0px
$basePosition: relative
$contentWidth: 750px
$contentMargin: auto
$commonWidth: auto

/*
 *  Mixins
 *
 *  All the functions */

// add curves on the 
=border-radius($rad)
  -webkit-border-radius: $rad
  -moz-border-radius: $rad
  -ms-border-radius: $rad
  border-radius: $rad
