{block:Audio}
.media
  .media-body.audio
    {block:Title} <h3 class="media-heading">{Title}</h3> {/block:Title}
    {block:AudioEmbed}{AudioEmbed-500}{/block:AudioEmbed}
    .center-block {block:AudioPlayer}{/block:AudioPlayer}
    {block:PermalinkPage}
    {block:Caption}<br/>{Caption}{/block:Caption}
    {block:HasTags}{block:Tags}%a(href="{TagURL}") {Tag}{/block:Tags}{/block:HasTags}{/block:PermalinkPage}
  .media-right
    %i.fa.fa-headphones.fa-5x(aria-hidden="true")
{/block:Audio}

