{block:Quote}
.media
  .media-body.quote
    {block:Title} <h3 class="media-heading">{Title}</h3> {/block:Title}
    {Quote}
    {block:Source}<br /><div class="source">&mdash; {Source}</div>{/block:Source}
    {block:PermalinkPage}
    {block:HasTags}{block:Tags}
    %a(href="{TagURL}")
      {Tag} &nbsp;
    {/block:Tags}{/block:HasTags}
    {/block:PermalinkPage}
  .media-right
    %a(href="{ShortURL}")
      %i.fa.fa-chevron-circle-down.fa-5x(aria-hidden="true")
{/block:Quote}


