{block:Quote}
.media
  .media-body
    {block:Title} <h3 class="media-heading">{Title}</h3> {/block:Title}
    {Quote}
    {block:Source}&mdash; {Source}{/block:Source}
    {block:PermalinkPage}
    {block:HasTags}{block:Tags}%a(href="{TagURL}") {Tag}{/block:Tags}{/block:HasTags}{/block:PermalinkPage}
  .media-right
    .glyphicon.glyphicon-comment.media-object(aria-hidden="true")
{/block:Quote}


