{block:Text}
.media
  .media-body.text
    {block:Title} <h3 class="media-heading">{Title}</h3> {/block:Title}
    {Body}
    {block:PermalinkPage}
    {block:HasTags}{block:Tags}
    %a(href="{TagURL}")
      {Tag}
    {/block:Tags}{/block:HasTags}
    {/block:PermalinkPage}
  .media-right
    %a(href="{ShortURL}")
      %i.fa.fa-file-text.fa-5x(aria-hidden="true")
{/block:Text}

